# Làm sạch dữ liệu cơ bản

## 1. Tạo dữ liệu  ##

In [22]:
import pandas as pd 

data = {
    "id" : [1,2,3,4,5],
    "name" : ["Anh","Em","Phong","Phú", None],
    "age" : [15,14,18,27,50],
    "email" :["Anh@vlu.edu.vn","Em@gmail.com","Phong@vanlanguni.vn","Phu@yahoo.com",None],
    "salary" : [None,70000,10000,250000,15000]
}
df = pd.DataFrame(data)
print(df)

   id   name  age                email    salary
0   1    Anh   15       Anh@vlu.edu.vn       NaN
1   2     Em   14         Em@gmail.com   70000.0
2   3  Phong   18  Phong@vanlanguni.vn   10000.0
3   4    Phú   27        Phu@yahoo.com  250000.0
4   5   None   50                 None   15000.0

In [2]:
# Lấy ra 5 dòng đầu tiên 
df.head()

   id   name  age                email    salary
0   1    Anh   15       Anh@vlu.edu.vn       NaN
1   2     Em   14         Em@gmail.com   70000.0
2   3  Phong   18  Phong@vanlanguni.vn   10000.0
3   4    Phú   27        Phu@yahoo.com  250000.0
4   5   None   50                 None   15000.0

In [4]:
# Kiểm tra dữ liệu thiếu 
df.isnull().sum()

id        0
name      1
age       0
email     1
salary    1
dtype: int64

In [26]:
# Điền giá trị thiếu cho cột salary = giá trị trung bình
df["salary"].fillna(df["salary"].mean(), inplace=True)

In [8]:
# Điền giá trị thiếu bằng Unknow cho cột name và email
df["name"].fillna("Unkown", inplace=True) 
df["email"].fillna("Unkown", inplace=True)

In [27]:
# Kiểm tra lại dữ liệu thiếu 
df.isnull().sum()

id        0
name      1
age       0
email     1
salary    0
dtype: int64

In [28]:
# loại bỏ dữ liệu trùng lặp
df.drop_duplicates(inplace=True)
df

   id   name  age                email    salary
0   1    Anh   15       Anh@vlu.edu.vn   86250.0
1   2     Em   14         Em@gmail.com   70000.0
2   3  Phong   18  Phong@vanlanguni.vn   10000.0
3   4    Phú   27        Phu@yahoo.com  250000.0
4   5   None   50                 None   15000.0

In [35]:
# Chuyển hóa hóa cột name bằng cách viết hoa chữ cái đầu 
df["name"] = df["name"].str.title()
df

   id   name  age                email    salary
0   1    Anh   15       Anh@vlu.edu.vn   86250.0
1   2     Em   14         Em@gmail.com   70000.0
2   3  Phong   18  Phong@vanlanguni.vn   10000.0
3   4    Phú   27        Phu@yahoo.com  250000.0
4   5   None   50                 None   15000.0

In [36]:
# Chuyển hóa hóa cột email bằng cách chuyển về chữ thường  
df["email"] = df["email"].str.lower()
df

   id   name  age                email    salary
0   1    Anh   15       anh@vlu.edu.vn   86250.0
1   2     Em   14         em@gmail.com   70000.0
2   3  Phong   18  phong@vanlanguni.vn   10000.0
3   4    Phú   27        phu@yahoo.com  250000.0
4   5   None   50                 None   15000.0

In [38]:
# Lưu dữ liệu đã làm sạch
df.to_csv("Dữ liệu đã làm sạch.csv", index = False)
df

   id   name  age                email    salary
0   1    Anh   15       anh@vlu.edu.vn   86250.0
1   2     Em   14         em@gmail.com   70000.0
2   3  Phong   18  phong@vanlanguni.vn   10000.0
3   4    Phú   27        phu@yahoo.com  250000.0
4   5   None   50                 None   15000.0

# Bài tập về nhà

### Cho dữ liệu dirty_data.csv 
1. Kiểm tra dữ liệu bị thiếu :
    - Kiểm tra các cột có dữ liệu thiếu
    - Điền giá trị phù hợp hoặc bỏ các hàng có quá nhiều dữ liệu thiếu 
2. Phát hiện và sửa lỗi dữ liệu bất thường :
    - Tìm các giá trị bất thường trong cột tuổi (age) có thể là âm hoạc quá lớn 
    - Kiểm tra cột thu nhập (income) để phát hiện lỗi bị sai
3. Chuyển hóa dạng dữ liệu :
    - Chuyển đổi cột ngày sinh về dạng chuẩn yyyy-mm-dd
    - Chuyển hóa dữ liệu trong cột giới tính (gender) để chỉ có 2 giới tính phù hợp là "Female" và "Male"
4. Xóa bỏ dữ liệu trùng lặp 
    - Xác định và xóa các bản ghi trùng lặp dựa trên thông tin khách hàng
5. Xuất dữ liệu sạch:
Lưu tập dữ liệu đã làm sạch thành tệp mới clean_data.csv

In [24]:
# Tạo nội dung dữ liệu bẩn
dirty_data_content = """customer_id,name,age,gender,dob,income,email
101,Nguyen Van A,25.0,Male,1998-05-22,1200,a@example.com
102,Tran Thi B,42.0,Female,1981-07-14,4500,b@example.com
103,Le Van C,-5.0,male,12/03/1995,3200,c@example.com
104,Hoang Minh D,150.0,F,1980/08/25,-500,d@example.com
105,Pham Thi E,30.0,Fem,1993-09-30,,e@example.com
106,Nguyen Van F,,M,1996-11-02,2500,f@example.com
107,Bui Thi G,29.0,Female,1994/06/15,3800,g@example.com
108,Dang Van H,40.0,f,1990-01-29,4200,h@example.com
109,Vo Thi I,27.0,Male,1995-04-10,3900,i@example.com
110,Phan Van J,22.0,unknown,1999-12-20,unknown,j@example.com
110,Phan Van J,22.0,Male,1999-12-20,3900,j@example.com"""

# Đọc dữ liệu từ nội dung
from io import StringIO
df = pd.read_csv(StringIO(dirty_data_content))

# 1. Kiểm tra dữ liệu bị thiếu
missing_data = df.isnull().sum()

# 2. Xử lý dữ liệu thiếu
df = df.dropna(subset=['age', 'income'])  # Bỏ dòng có quá nhiều dữ liệu thiếu
df['income'] = df['income'].replace('unknown', None).astype(float)
df['income'] = df['income'].fillna(df['income'].median())

# 3. Phát hiện và sửa lỗi dữ liệu bất thường
median_age = df.loc[(df['age'] >= 0) & (df['age'] <= 100), 'age'].median()
df.loc[df['age'] < 0, 'age'] = median_age  # Sửa tuổi âm thành trung vị
df.loc[df['age'] > 100, 'age'] = median_age  # Giới hạn tuổi tối đa
df.loc[df['income'] < 0, 'income'] = df['income'].median()  # Sửa thu nhập âm

# 4. Chuyển hóa dạng dữ liệu
df['dob'] = pd.to_datetime(df['dob'], errors='coerce').dt.strftime('%Y-%m-%d')  # Chuyển đổi ngày sinh

# 5. Chuyển đổi giới tính
gender_map = {'Male': 'Male', 'Female': 'Female', 'M': 'Male', 'F': 'Female', 'Fem': 'Female', 'f': 'Female', 'm': 'Male'}
df['gender'] = df['gender'].map(gender_map).fillna('Unknown')

# 6. Xóa bỏ dữ liệu trùng lặp
df = df.drop_duplicates(subset=['customer_id', 'email'])

# Trả về kết quả sau khi xử lý
df

   customer_id          name   age   gender         dob  income          email
0          101  Nguyen Van A  25.0     Male  1998-05-22  1200.0  a@example.com
1          102    Tran Thi B  42.0   Female  1981-07-14  4500.0  b@example.com
2          103      Le Van C  27.0  Unknown         NaN  3200.0  c@example.com
3          104  Hoang Minh D  27.0   Female         NaN  3850.0  d@example.com
6          107     Bui Thi G  29.0   Female         NaN  3800.0  g@example.com
7          108    Dang Van H  40.0   Female  1990-01-29  4200.0  h@example.com
8          109      Vo Thi I  27.0     Male  1995-04-10  3900.0  i@example.com
9          110    Phan Van J  22.0  Unknown  1999-12-20  3850.0  j@example.com

In [25]:
# 7. Xuất dữ liệu sạch
clean_file_path = "clean_data.csv"
df.to_csv(clean_file_path, index=False)
print(f"\n✅ Dữ liệu sạch đã được lưu tại: {clean_file_path}")

✅ Dữ liệu sạch đã được lưu tại: clean_data.csv

In [8]:
import pandas as pd
import os

# 1. Tạo dữ liệu mẫu
data_sample = {
    "ID": [1, 2, 3, 4, 5],
    "Name": ["Nguyen Van A", "Tran Thi B", "Le Van C", "Pham Minh D", "Hoang Anh E"],
    "Age": [25, 30, 35, 40, None],  # Có giá trị thiếu để kiểm tra xử lý
    "Weight": ["70kg", "75kg", "80kg", None, "60kg"],  # Có đơn vị khác nhau và giá trị thiếu
    "Sex": ["Male", "Female", "Male", "Male", "Female"],
    "m1": ["M1218120", "F1119105", "M1009115", "M1220130", "F1138120"],
    "m2": ["M1310140", "F1018125", "M0910135", None, "F1108130"],
    "m3": ["M1216130", "F0917110", None, "M1208125", "F1117120"],
    "m4": ["M1224135", None, "M1013120", "M1132130", "F1009135"],
    "m5": ["M1309150", "F1208110", "M1110140", "M1109125", "F1029130"]
}

# 2. Chuyển thành DataFrame
df = pd.DataFrame(data_sample)

# 3. Lưu vào file CSV
file_path = "patient_heart_rate.csv"
df.to_csv(file_path, index=False, header=False)

print(f"✅ File {file_path} đã được tạo thành công!")

✅ File patient_heart_rate.csv đã được tạo thành công!

In [11]:
import pandas as pd
import numpy as np
import os

# 1. Kiểm tra sự tồn tại của file CSV
file_path = "patient_heart_rate.csv"
if not os.path.exists(file_path):
    raise FileNotFoundError(f"File {file_path} không tồn tại. Hãy kiểm tra lại đường dẫn.")

# 2. Đọc dữ liệu từ file CSV
data = pd.read_csv(file_path, header=None)

# 3. Thêm tiêu đề cột
column_names = ["ID", "Name", "Age", "Weight", "Sex"] + [f"m{i}" for i in range(1, 6)]
data.columns = column_names

# 4. Xử lý cột "Name" (Tách Firstname và Lastname)
data["Name"] = data["Name"].astype(str).fillna("")
data[['Firstname', 'Lastname']] = data["Name"].apply(lambda x: x.split(" ", 1) if " " in x else [x, ""]).apply(pd.Series)
data.drop(columns=['Name'], inplace=True)

# 5. Chuẩn hóa đơn vị cột "Weight"
def convert_weight(value):
    if isinstance(value, str):
        if "lbs" in value:
            return round(float(value.replace("lbs", "")) * 0.453592, 2)
        elif "kg" in value:
            return float(value.replace("kg", ""))
    return np.nan

data['Weight'] = data['Weight'].apply(convert_weight)

# 6. Xóa dòng dữ liệu trống
data.dropna(how='all', inplace=True)

# 7. Xử lý dòng dữ liệu trùng lặp
data.drop_duplicates(inplace=True)

# 8. Xử lý dữ liệu không phải ASCII
data = data.map(lambda x: x if isinstance(x, (int, float)) or str(x).isascii() else 'warning')

# 9. Xử lý giá trị bị thiếu của "Age" và "Weight"
data['Age'] = data['Age'].fillna(data['Age'].mean())
data['Weight'] = data['Weight'].fillna(data['Weight'].mean())
data.dropna(subset=['Age', 'Weight'], how='all', inplace=True)

# 10. Tách cột chứa nhiều thông tin (VD: "m0006")
def split_column(value):
    if isinstance(value, str):
        sex = value[0]
        time = value[1:5]
        pulse_rate = value[5:]
        return pd.Series([sex, time, pulse_rate])
    return pd.Series([np.nan, np.nan, np.nan])

for col in [f"m{i}" for i in range(1, 6)]:
    data[[f"Sex_{col}", f"Time_{col}", f"PulseRate_{col}"]] = data[col].apply(split_column)
    data.drop(columns=[col], inplace=True)

# 11. Xử lý dữ liệu thiếu trên biến huyết áp
for col in [f"PulseRate_m{i}" for i in range(1, 6)]:
    data[col] = data[col].astype(float)
    data[col] = data[col].bfill()
    data[col] = data[col].ffill()
    data[col] = data[col].fillna(data[col].mean())

# 12. Reindex dữ liệu và lưu lại
data.reset_index(drop=True, inplace=True)
data.to_csv("patient_heart_rate_clean.csv", index=False)